/* GENERAL */
.center {
  text-align: center;
}

.container {
  height: 3000px;
}

/* FONTS */
.roboto {
  font-family: 'Roboto Mono';
}

/* ARROW */
#down-arrow {
  width: 256px;
  height: 256px;
  margin: 175px auto 500px auto;
}

#down-arrow img {
  opacity: 0.1;
  filter: alpha(opacity=10); /* For IE8 and earlier */
}

/* TITLE */
#title {
  position: absolute;
  width: 100%;
}

.title1, .title2 {
  font-size: 6.5em;
  position: relative;
  font-family: 'MegrimMedium';
}

.title1 {
  color: red;
  margin: 0;
  left: -1%;
}

.title2 {
  color: blue;
  margin: -9% 0 0 0;
}

.secondary-title {
  font-size: 1.5em;
}

.secondary-title p {
  margin: 0;
}