/* GENERAL */
.center {
  text-align: center;
}

/* FONTS */
.roboto {
  font-family: 'Roboto Mono';
}

/* TITLE */
.title {
  position: absolute;
  width: 100%;
}

.title1, .title2 {
  font-size: 6.5em;
  position: relative;
  font-family: 'MegrimMedium';
}

.title1 {
  color: red;
  margin: 0;
  left: -1%;
}

.title2 {
  color: blue;
  margin: -9% 0 0 0;
}

.secondary-title {
  font-size: 1.5em;
}

.secondary-title p {
  margin: 0;
}